.btn {
  background-color: #7b7a8a;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 60px;
  width: 60px;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  font-size: 1.5rem;
  border: none;
  border-bottom-right-radius: 4px;
}

.add {
  svg {
    color: #f6f6ff;
  }
}

.remove {
  transform: scaleX(-1);
  left: 0;
  svg {
    color: rgb(207, 35, 35);
    transform: rotate(45deg);
  }
}
