.container {
  position: relative;
  gap: 8px;
  color: #b5b4c7;
  background-color: #3f3c52;
  border-radius: 4px;
  padding: 15px;
  height: 30vh;
  min-height: 150px;
  /* min-height: 150px;
  max-height: 30vh; */
  overflow-y: scroll;
}

h2 {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  color: #7b7a8a;
}
