.modal {
  position: absolute;

  height: 90vh;
  width: 100%;
  /* padding: 15px; */
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  transform: translateX(120%);
  transition: all 0.5s;
  text-align: center;
}
.modal form {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.modal input {
  color: #b5b4c7;
  background-color: #3f3c52;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  border-radius: 4px;
  width: 100%;
}
.modal textarea {
  display: block;
  height: 100%;
  width: 100%;
  color: #b5b4c7;
  background-color: #3f3c52;
  border: none;
  font-size: 20px;
  resize: none;
}
.modal.add-note .container {
  height: 80vh;
}
.modal.add-folder h2 {
  color: #e0a743;
}
.modal.add-folder input {
  text-align: center;
  margin-block: 40px;
  color: #e0a743;
}
.modal.add-folder .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.folder-colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  svg {
    font-size: 3.5rem;
  }
}
.folder-active {
  border: 1px solid #e0a743 !important;
  background-color: #e0a64359;
}
.bg {
  background-color: #3f3c52;
}

.green {
  color: green;
}
.blue {
  color: rgb(9, 9, 117);
}
.pink {
  color: pink;
}
.yellow {
  color: yellow;
}
.gray {
  color: gray;
}
.black {
  color: rgb(24, 23, 23);
}
.aqua {
  color: aqua;
}
.orange {
  color: orange;
}
