*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  color: #fff;
}

h1 {
  color: #e0a743;
}

.app-container {
  background-color: #1f1d2b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.featured-notes {
  color: #b5b4c7;
  background-color: #3f3c52;
  border-radius: 4px;
  flex: 1;
  padding: 15px;
  max-height: 25vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.note {
  background-color: #7b7a8a;
  color: white;
  border-radius: 4px;
  padding: 6px 15px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.icon-edit {
  margin-left: auto;
  color: #3f3c52;
}
.icon-trash {
  color: rgb(230 0 0 / 84%);
}
.folders {
  display: flex;
  gap: 25px;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #b5b4c7;
  background-color: #3f3c52;
  flex: 1;
  border-radius: 4px;
  padding: 15px;
  max-height: 25vh;
}
.folder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.folder .icon {
  font-size: 1.7rem;
  color: #e0a743;
}
.folder .title {
}
.search-bar {
  background-color: #3f3c52;
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
}
.search-bar::placeholder {
  color: #b5b4c7;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
}
.btn {
  padding: 10px 25px;
  background-color: #3f3c52;
  border: none;
  border-radius: 25px;
  color: #b5b4c7;
  align-self: center;
}
