*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  color: #fff;
}

h1 {
  color: #e0a743;
  letter-spacing: 2px;
}

#root {
  position: relative;
  overflow: hidden;
  background-color: #1f1d2b;
}

.slide-up-left {
  transform: translate(-69px, -210px);
}
.slide-up-right {
  transform: translate(69px, -210px);
}
.slide-in {
  transform: translateX(0) !important;
}
.slide-out {
  transform: translateX(-100%);
}
.flex-start {
  justify-content: flex-start !important;
}
.flex-center {
  justify-content: center !important;
}
.text-center {
  text-align: center !important;
}

.icon-folder {
  color: #e0a743;
  margin-left: auto;
}
.icon-edit {
  color: #3f3c52;
}
.icon-trash {
  color: rgb(230 0 0 / 84%);
}
